{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/data-style.css">
{% endblock %}

{% block site_title %} Data {% endblock %}

{% block body %}
    <div class="container">
        <div class="col-lg-12">
            <div class="col-xl">
                <div id="bar">

                </div>
            </div>
            <div class="col-xl">
                <div id="line">

                </div>
            </div>
            <div class="col-xl">
                <div id="other">

                </div>
            </div>

        </div>
    </div>


<script>
    var figure = {{ plot[0] | safe}};
    var layout ={title:"This is the first graph"};
    Plotly.newPlot('bar', figure, layout);
</script>

<script>
    var figure = {{ plot[1] | safe}};
    var layout ={title:"This is second "};
    Plotly.newPlot('line', figure, layout);
</script>

<script>
    var figure = {{ plot[2] | safe}};
    var layout ={title:"This is thrid"};
    Plotly.newPlot('other', figure, layout);
</script>



<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

{% endblock %}
