{% extends "base.html" %}
{% block site_title %}Home{% endblock %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
{% endblock %}
{% block body %}
    <div class="container" id="homePageContainer">
        <div class="col-lg-12">
            <p>This form will allow you to see how many bikes are needed to meet demand.</p>

        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Placeholder</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   <p id="modalParagraph">placeholder</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-md-12">
            <form class="needs-validation" name="bike-form" method="post" novalidate>
                <div class="form-group">
                    <label>Hour</label>
                    <input type="number" min=0 max=23 step="1" class="form-control" id="hourID" name="hour" required>
                    <div class="invalid-feedback">
                        Please Select an Hour between 0 and 23
                    </div>
                </div>
                <div>
                    <label>
                        Date
                        <input data-provide="datepicker" class="form-control" name="date" id="dateID" required>
                        <div class="invalid-feedback">
                            Please Select a Date
                        </div>
                    </label>
                </div>

                <div class="form-group">
                    <label for="customRange1">Humidity(%)</label>
                    <input type="range" class="custom-range" min="0" max="100" step="0.5"
                           id="humidityID" onchange="updateTextInput(this.value);" value="50" name="humidity" required>
                    <input type="text" id="humidityPercent" value="50%" disabled>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Temperature(°C)</label>
                        <input type="number" step="any" class="form-control" id="tempID" name="temp" required>
                        <div class="invalid-feedback">
                            Please Enter a Temperature
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Snowfall(cm)</label>
                        <input type="number" step="any" class="form-control" value="0" id="snowID" name="snow" required>
                        <div class="invalid-feedback">
                            Please Enter a Number E.g. 0
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Rainfall(mm)</label>
                        <input type="number" step="any" class="form-control" value="0"  id="rainID" name="rain" required>
                        <div class="invalid-feedback">
                            Please Enter a Number E.g. 0
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-block" type="submit">Submit</button>
            </form>
        </div>
    </div>


    <script>
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                let forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                let validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        if (form.checkValidity() === true){calcBikes(event)}

                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
    <script>
    function calcBikes(event){
        event.preventDefault();
        let date = $('#dateID').val();
        let date_arr = date.split('/');
        let month = date_arr[0];
        let day = date_arr[1];
        $.ajax({
            data: {
                hour: $('#hourID').val(),
                month: month,
                day : day,
                humidity: $('#humidityID').val(),
                temp: $('#tempID').val(),
                snow: $('#snowID').val(),
                rain: $('#rainID').val()
            },
            url: "/process",
            type: 'POST'
        }).done(function (data) {
            let message;
            let title;
            if (data.error) {
                title = "Error";
                message = data.error;
            }
                else{
                    title = "Results";
                    message = data.result;
                    message = "Bikes needed: " + message;
                }
                document.getElementById("modalTitle").innerHTML = title;
                document.getElementById("modalParagraph").innerHTML = message;
                $('#resultModal').modal('show');
        })
        }

    </script>

    <script>
        function updateTextInput(val) {
            document.getElementById('humidityPercent').value=val+'%';
        }
    </script>
{% endblock %}
